In [60]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/31/adp_31_1_obesity_v2.csv",index_col=0)

In [62]:
df.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
0,4,male,27,1.80,87,no,no,always,3,sometimes,no,between 1 and 2 l,no,2 to 4,0 to 2,frequently,walking,overweight_level_i,26.851852
1,11,male,26,1.85,105,yes,yes,always,3,frequently,no,more than 2 l,no,2 to 4,>5,sometimes,public_transportation,obesity_type_i,30.679328
2,14,male,41,1.80,99,no,yes,sometimes,3,sometimes,no,between 1 and 2 l,no,2 to 4,3 to 5,frequently,automobile,obesity_type_i,30.555556
3,18,female,29,1.53,78,no,yes,sometimes,1,sometimes,no,between 1 and 2 l,no,0,0 to 2,no,automobile,obesity_type_i,33.320518
4,20,female,23,1.65,70,yes,no,sometimes,1,sometimes,no,between 1 and 2 l,no,0,0 to 2,sometimes,public_transportation,overweight_level_i,25.711662

In [64]:
import numpy as np
import matplotlib.pyplot as plt

 > 1-1. EDA & Í≤∞Ï∏°Ïπò Î∞è Ïù¥ÏÉÅÏπòÎ•º ÌåêÎã®ÌïòÍ≥† Ï≤òÎ¶¨ÌïòÎùº

In [66]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 1262 entries, 0 to 1261
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1262 non-null   object
 1   Gender                          1262 non-null   object
 2   Age                             1262 non-null   int64
 3   Height                          1262 non-null   float64
 4   Weight                          1262 non-null   int64
 5   family_history_with_overweight  1262 non-null   object
 6   FAVC                            1262 non-null   object
 7   FCVC                            1262 non-null   object
 8   NCP                             1262 non-null   int64
 9   CAEC                            1262 non-null   object
 10  SMOKE                           1262 non-null   object
 11  CH2O                            1262 non-null   object
 12  SCC                             1259 non-null   object
 13  FAF                             1262 non-null   object
 14  TUE                             1262 non-null   object
 15  CALC                            1262 non-null   object
 16  MTRANS                          1262 non-null   object
 17  NObeyesdad                      1262 non-null   object
 18  BMI                             1262 non-null   float64
dtypes: float64(2), int64(3), object(14)
memory usage: 1.1 MB

In [68]:
df.describe(include='all')

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
count,1262,1262,1262.000000,1262.000000,1262.000000,1262,1262,1262,1262.000000,1262,1262,1262,1259,1262,1262,1262,1262,1262,1262.000000
unique,1262,2,NaN,NaN,NaN,2,2,3,NaN,4,2,3,2,4,3,3,5,4,NaN
top,4,male,NaN,NaN,NaN,yes,yes,always,NaN,sometimes,no,between 1 and 2 l,no,1 to 2,0 to 2,sometimes,public_transportation,obesity_type_i,NaN
freq,1,636,NaN,NaN,NaN,1173,1221,630,NaN,1190,1237,618,1219,482,615,943,971,351,NaN
mean,NaN,NaN,25.749604,1.709184,101.083201,NaN,NaN,NaN,2.665610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.439463
std,NaN,NaN,9.898088,0.091361,21.520848,NaN,NaN,NaN,0.757143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.106623
min,NaN,NaN,15.000000,1.450000,53.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.826739
25%,NaN,NaN,21.000000,1.631576,82.000000,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.725995
50%,NaN,NaN,24.000000,1.711095,105.000000,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.332001
75%,NaN,NaN,27.000000,1.775768,116.000000,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.920119
max,NaN,NaN,150.000000,1.980000,173.000000,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.811753

In [70]:
df.columns

Index(['id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NObeyesdad',
       'BMI'],
      dtype='object')

In [72]:
df.isnull().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               3
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
BMI                               0
dtype: int64

In [74]:
df[df['SCC'].isna()]

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
361,"1,211",male,26,1.837117,106,yes,yes,always,3,sometimes,no,more than 2 l,NaN,2 to 4,>5,sometimes,public_transportation,obesity_type_i,31.322149
675,"1,525",male,25,1.885543,121,yes,yes,sometimes,3,sometimes,no,more than 2 l,NaN,1 to 2,0 to 2,sometimes,public_transportation,obesity_type_ii,34.105146
1100,"1,950",female,20,1.792833,152,yes,yes,always,3,sometimes,no,between 1 and 2 l,NaN,1 to 2,3 to 5,sometimes,public_transportation,obesity_type_iii,47.424943

 > 1-2. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Í∏∞Î≤ï 2Í∞ÄÏßÄÎ•º ÏÑ§Î™ÖÌïòÍ≥† Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Ïóê Ï†ÅÏö©Ïãú Ïñ¥Îñ§ Ìö®Í≥ºÍ∞Ä ÏûàÎäîÏßÄ ÏÑ§Î™ÖÌïòÎùº

 > 1-3. ÌîºÏ≥ê ÏóîÏßÄÎãàÏñ¥ÎßÅÏùÑ ÌÜµÌï¥ ÌååÏÉùÎ≥ÄÏàò 1Í∞úÎ•º ÏÉùÏÑ±ÌïòÍ≥† Í∑∏ Ïù¥Ïú†Î•º ÎßêÌïòÎùº

 > 2-1. ÏïôÏÉÅÎ∏îÏùÑ Ï†úÏô∏Ìïú Î∂ÑÎ•ò Î™®Îç∏ 3Í∞ÄÏßÄ Íµ¨Ï∂ï Î∞è Í≤∞Í≥º ÎπÑÍµê Î∞è ÏÑ§Î™ÖÌïòÎùº

 > 2-2. 2-1ÏóêÏÑú ÏÇ¨Ïö©Ìïú Î™®Îç∏ Ï§ë ÌïòÎÇòÎ•º Í≥®Îùº Í∑∏Î¶¨Îìú ÏÑúÏπòÎ•º ÌÜµÌï¥ÏÑú ÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù Î∞è Î∂ÑÎ•ò Î™®Îç∏ ÏÑ±Îä• ÌèâÍ∞Ä (precision ,recall)

 > 2-3. 2-1Ïùò 3Í∞ÄÏßÄ Î™®Îç∏ÏùÑ soft votingÏùÑ Ïù¥Ïö©ÌïòÏó¨ Î™®Îç∏ÎßÅ Ìïú Í≤∞Í≥ºÏôÄ 2-2Í≥º ÎπÑÍµêÌïòÎùº

 > 3. ÌïòÎÇòÏùò Î™®Îç∏ÏùÑ ÏÑ†Ï†ïÌïòÏó¨ Drop Column Importance Î∞©ÏãùÏúºÎ°ú Í∞Å Î≥ÄÏàò Î≥ÑÎ°ú Ï†ÑÏ≤¥ Ïª¨ÎüºÏùÑ Ìè¨Ìï®Ìïú Î™®Îç∏Í≥ºÏùò recall Í∞íÏùò Ï∞®Ïù¥Î•º Í≥ÑÏÇ∞ÌïòÍ≥† ÏãúÍ∞ÅÌôî ÌïòÎùº

----------------------

In [35]:
df2 =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/31/adp_31_2_v2.csv')
df2.head()

,ID,ÌÇ§,weight,ÏÉùÎÖÑÏõîÏùº,Í±¥Í∞ïÍ≤ÄÏßÑÏùº,Í≥µÌïôÏó¨Î∂Ä,Ï±ÑÏÜåÏÑ≠Ï∑®Ï†ïÎèÑ,ÏïÑÏπ®ÏãùÏÇ¨Ïó¨Î∂Ä,ÏùºÏ£ºÏùºÏö¥ÎèôÏãúÍ∞Ñ,ÏàòÎ©¥ÏãúÍ∞Ñ,ÏÑ±Î≥Ñ
0,ID_4135,169.01,65.47,20041003,2020_11_15,1,2,1,4.4,8.3,ÎÇ®ÏÑ±
1,ID_3289,181.62,69.36,19970725,2014_11_20,0,3,0,4.4,6.9,ÎÇ®ÏÑ±
2,ID_1847,160.89,65.12,20020921,2020_01_28,1,1,1,1.7,9.6,Ïó¨ÏÑ±
3,ID_4785,162.21,62.28,20020106,2018_09_27,1,4,0,5.1,6.8,ÎÇ®ÏÑ±
4,ID_5693,159.13,54.11,19980708,2015_03_03,0,4,1,0.3,8.5,Ïó¨ÏÑ±

 > 4-1. ÏïÑÎûòÏùò Í∏∞Ï§ÄÏúºÎ°ú Ï†ÑÏ≤òÎ¶¨Î•º ÌïòÏó¨ Ï†ÅÏ†ï Ï≤¥Ï§ë Ïó¨Î∂Ä Ïª¨ÎüºÏùÑ ÏÉùÏÑ±ÌïòÍ≥† BMIÎ•º 5Îã®ÏúÑÎ°ú Íµ¨Î∂ÑÌïòÏó¨ ÏôÄ Ï†ÅÏ†ï Ï≤¥Ï§ëÏó¨Î∂ÄÏóê ÎåÄÌïú ÎπàÎèÑ ÌëúÎ•º ÎßåÎì§Ïñ¥Îùº


bmi Í≥ÑÏÇ∞ - Bmi = Î™∏Î¨¥Í≤å(kg)/(ÌÇ§(m)**2)

ÎßåÎÇòÏù¥ Íµ¨ÌïòÍ∏∞ - Í±¥Í∞ïÍ≤ÄÏßÑÏùÑ Î∞õÏïòÎçò ÎÇ†ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÏÉùÎÖÑÏõîÏùºÍ≥º ÏùºÏàò Ï∞®Ïù¥Í∞Ä 16ÎÖÑ 364Ïùº Ïù¥ÌïòÏù∏ Í≤ΩÏö∞ Îßå 16ÏÑ∏ Í∑∏ Ïù¥ÏÉÅÏùò Í≤ΩÏö∞ Îßå 17Î°ú Î∂ÑÎ•òÌïòÎùº - Ïú§ÎÖÑ Îì±ÏùÄ Í≥†Î†§ÌïòÏßÄ ÏïäÎäîÎã§. ÌñáÏàòÎ°ú 16ÎÖÑ + ÏùºÏàòÎ°ú 364ÏùºÏù¥ Í∏∞Ï§ÄÏù¥Îã§

Ï†ÅÏ†ï Ï≤¥Ï§ë Ïó¨Î∂Ä (BMIÍ∞Ä ÏïÑÎûò Íµ¨Í∞ÑÏóê Îì§Ïñ¥Ïò¨ Í≤ΩÏö∞)
17ÏÑ∏ ÎÇ®Ïûê : 21.03Ïù¥ÏÉÅ 23.21 ÎØ∏Îßå
17ÏÑ∏ Ïó¨Ïûê : 20.03Ïù¥ÏÉÅ 22.39 ÎØ∏Îßå
16ÏÑ∏ ÎÇ®Ïûê : 21.18Ïù¥ÏÉÅ 23.45 ÎØ∏Îßå
16ÏÑ∏ Ïó¨Ïûê : 19.61Ïù¥ÏÉÅ 21.74 ÎØ∏Îßå

 > 4-2. 4-1ÏóêÏÑú Íµ¨Ìïú Ï†ÅÏ†ï Ï≤¥Ï§ë Ïó¨Î∂ÄÏôÄ ÎÇòÎ®∏ÏßÄ Ïª¨Îüº(Í≥µÌïôÏó¨Î∂Ä, ÏïÑÏπ®ÏãùÏÇ¨Ïó¨Î∂Ä, ÏùºÏ£ºÏùºÏö¥ÎèôÏãúÍ∞Ñ, Ï±ÑÏÜåÏÑ≠Ï∑®Ï†ïÎèÑ, ÏàòÎ©¥ÏãúÍ∞Ñ, ÏÑ±Î≥Ñ) Ïù¥ ÎèÖÎ¶ΩÏ†ÅÏù∏ÏßÄ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú ÌôïÏù∏ÌïòÎùº

 > 4-3. 4-2ÏóêÏÑú Ïú†ÏùòÌïú Î≥ÄÏàòÎì§Îßå Í∞ÄÏßÄÍ≥† Ï†ÅÏ†ï Ï≤¥Ï§ë Ïó¨Î∂ÄÎ•º ÏòàÏ∏°ÌïòÎäî Î™®Îç∏ÏùÑ Íµ¨ÌòÑÌïòÍ≥† ÏÑ±Îä• ÌèâÍ∞Ä Î∞è Ìï¥ÏÑùÏùÑ ÌïòÎùº (Î°úÏßÄÏä§Ìã±ÌöåÍ∑Ä ,xgb)

 > 4-4.  4-3 Îëê Î™®Îç∏Ïùò roc-auc Í∑∏ÎûòÌîÑÎ•º ÌïòÎÇòÏùò Í∑∏ÎûòÌîÑÏóê Í≤πÏ≥ê Í∑∏Î†§Îùº

-----------------------------------

 > 5. ÌèâÍ∑†Ïù¥ ùúÉÏù¥Í≥† Î∂ÑÏÇ∞Ïù¥ 100Ïù∏ Ï†ïÍ∑úÎ∂ÑÌè¨Ïùò ÏÇ¨Ï†ÑÎ∂ÑÌè¨Í∞Ä 100, 256ÏùºÎïå 120Ïùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÏùÑ Í≤ΩÏö∞ ÏÇ¨ÌõÑÌèâÍ∑†ÏùÄ?

---------------------

In [103]:
df3 =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/31/adp_31_5_advertising.csv')
df3.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

 > 6-1. ÌöåÍ∑Ä Î™®Îç∏ÎßÅ ÌõÑ Ïú†ÏùòÌïòÏßÄ ÏïäÎäîÎ≥ÄÏàò ÌååÏïÖ

 > 6-2. Î≥ÄÏàò ÏÑ†ÌÉùÏãú Î®ºÏ†Ä Ï†úÍ±∞ Îê† Î≥ÄÏàò Î∞è Í∑ºÍ±∞ Ï†úÏãú

 > 6-3. VIFÎ•º ÌÜµÌïú Îã§Ï§ëÍ≥µÏÑ†ÏÑ± ÏßÑÎã®

---------------

In [112]:
df4=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/31/adp_31_7.csv',index_col = 0)
df4

             A  B  C  D  E
contract_1   1  0  1  1  1
contract_2   0  1  0  1  0
contract_3   1  0  0  0  0
contract_4   0  1  1  1  1
contract_5   0  1  0  1  0
contract_6   1  1  0  1  1
contract_7   0  1  1  0  0
contract_8   0  1  0  0  0
contract_9   1  0  0  1  1
contract_10  1  1  0  0  0
contract_11  1  0  0  1  0
contract_12  1  1  1  0  0

 > 7. Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : A,B,C,D,E ÏòÅÏóÖÏÇ¨ÏõêÏùò Í∞Å Í≥ÑÏïΩ ÏÑ±ÏÇ¨ Ïú†Î¨¥ (1:Í≥ÑÏïΩ , 0:ÎØ∏Í≥ÑÏïΩ) Î•º ÎÇòÌÉÄÎÇ∏ Îç∞Ïù¥ÌÑ∞Ïù¥Îã§. ÏòÅÏóÖÏÇ¨ÏõêÏùò ÌèâÍ∑† Í≥ÑÏïΩ ÏÑ±ÏÇ¨ Í±¥ÏàòÎäî Í∞ôÏùÄÏßÄ ÌÜµÍ≥Ñ Í≤ÄÏ†ïÌïòÎùº

----------------------

 > 8-1. Ïú†Í∏∞Í≤¨Ïù¥ ÌïòÎ£®Ïóê 2.2ÎßàÎ¶¨ Î∞úÏÉùÌïúÎã§.
ÌïúÎßàÎ¶¨ÎèÑ Ìïú Î≤ÑÎ†§Ïßà ÌôïÎ•†

 > 8-2. Ï†ÅÏñ¥ÎèÑ 2ÎßàÎ¶¨Í∞Ä Î≤ÑÎ†§Ïßà ÌôïÎ•†